<ol class="breadcrumb mb-0" *ngIf="visible" >
  <li *ngFor="let breadcrumb of breadcrumbs; let i = index;"
      class="breadcrumb-item">
    <a *ngIf="i == breadcrumbs.length -1">
          <span *ngIf="breadcrumb.label !== 'Home'">
             {{ breadcrumb.label }}
          </span>
          <i class="fa fa-home" *ngIf="breadcrumb.label === 'Home'"></i>
    </a>
    <a [routerLink]="[breadcrumb.url]" *ngIf="i != breadcrumbs.length -1">
      <span *ngIf="breadcrumb.label !== 'Home'">
         {{ breadcrumb.label }}
      </span>
      <i class="fa fa-home" *ngIf="breadcrumb.label === 'Home'"></i>
    </a>
  </li>
</ol>