td {
  /* word-break: break-word; */
  padding: 0.5rem 0.5rem 0 0.5rem;
  vertical-align: inherit;
  font-size: 13px;
}

.icon-action {
  position: fixed;
  background-color: rgba(255,255,255,1);
  width: 43%;
  z-index: 1;
  bottom: 0px;
}

.icons {
  font-size: 20px;
}

table {
  position: relative;
  padding: 0px 0 0 0;
}

th {
  position: sticky;
  top: -1px;
  z-index: 1;
  background: white;
  padding: 0.3rem 0.3rem 0.3rem 0.5rem;
  vertical-align: top !important;
}

.btn {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  transition: all 0.4s;
  border-radius: 20px;
  padding: .0rem 0rem;
  text-transform: none;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: small;
  color: #FFFFFF;
  letter-spacing: 0;
}

.btn-blue-outline {
  background-color: #fff !important;
  color: #5800FD !important;
  border: 0px solid #5800FD;
  box-shadow: none !important;
}

/* ::ng-deep .mat-form-field-infix{
  width: 70px !important; 
} */

::ng-deep .mat-form-field {
  width: 100% !important;
}